body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.files{
    padding-bottom:5px ;
    padding-top: 2px;

}
.filelabel{
    display: inline-block;
    font-weight: 600;
    padding-bottom:10px ;
    padding-top: 15px;
}
.fileupload{
    width: 450px;
    height:50px;
    border-radius: 5px;
    border-color: #ddddde;
    border-width: 2px;
}